* {
    font-family: "Inter", sans-serif;
}

body {
    background-color: lightgray;
    font-family: "Inter", sans-serif;
}

header {
    background-color: rgb(128, 128, 0);
    margin-top: 0%;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 100px;
}



footer {
    margin-top: 120px;
    background-color: rgb(0, 128, 128);
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}
  
  

.button {
    border-radius: 10px;
    border: 3px;
    padding: 4px 6px;
    background-color: #800060;
    color: white;
}

.button:hover {
    border-radius: 10px;
    background-color: #800045;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}


.center {
    text-align: center;
}


.margin-bottom {
    margin-bottom: 50px;
}


.margin-top {
    margin-top: 50px;
}


.inline-block {
    display: inline-block;
}


#product {
    color: purple;
    font-size: 30px;
    position:relative;
    left: 10px;
    bottom: 5px;
}

#wolf {
    width:70px;
    position: relative;
    left: 30px;
    top: 10px;
}

#pwd_Result {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 5px;

}


#main_block {
    background-color: white;
    border-radius: 12px;
    display: block;
    width: 1000px;
    margin: 0 auto;
    padding-top: 10px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


#passwordRange {
    accent-color: purple;
    cursor: pointer;
}
